<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zinc.mybatis.PlayerMapper">
    <insert id="insert">
        insert into tbl_player (player_name) values (#{playerName});
    </insert>

    <select id="select" resultType="playerVO">
        select player_id, player_name, player_level, player_experience, player_status_remain,
        player_strength, player_swiftness, player_concentration, player_balance from tbl_player where player_name = #{playerName}
    </select>
</mapper>