<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zinc.mybatis.QuestMapper">
    <insert id="insert">
        insert into tbl_appended_quest
        (appended_player_id, appended_quest_name)
        values (#{appendedPlayerId}, #{appendedQuestName})
    </insert>

    <select id="selectList" resultType="questDTO">
        select
        appended_quest_id, appended_player_id, appended_quest_name,
        appended_quest_progress, quest_type, quest_require, quest_reward,
        appended_quest_cleared
        from tbl_quest_list join tbl_appended_quest
        on quest_name = appended_quest_name
        where appended_player_id = #{playerId}
    </select>

    <select id="select" resultType="questDTO">
        select
        appended_quest_id, appended_player_id, appended_quest_name,
        appended_quest_progress, quest_type, quest_require, quest_reward,
        appended_quest_cleared
        from tbl_quest_list join tbl_appended_quest
        on quest_name = appended_quest_name
        where appended_player_id = #{playerId} and quest_name = #{questName}
    </select>

    <update id="update">
        update tbl_appended_quest
        set appended_quest_progress = #{appendedQuestProgress}
        <if test="appendedQuestCleared">
            , appended_quest_cleared = #{appendedQuestCleared}
        </if>
        where appended_quest_id = #{appendedQuestId}
    </update>

    <insert id="registerQuest">
        insert into tbl_quest_list
        (quest_name, quest_require, quest_reward, quest_type)
        values (#{questName}, #{questRequire}, #{questReward}, #{questType})
    </insert>

    <update id="updateAll">
        update tbl_appended_quest
        set appended_quest_progress = 0, appended_quest_cleared = 0
    </update>

    <update id="updateLimited">
        update tbl_appended_quest
        set appended_quest_name = #{appendedQuestName}
        where appended_quest_id = #{appendQuestId}
    </update>

    <select id="selectLimitedQuestList" resultType="long">
        select appended_quest_id from tbl_appended_quest
        where appended_player_id = #{playerId}
        and appended_quest_name in (
            select quest_name from tbl_quest_list where quest_type = 'limit'
        )
    </select>

    <insert id="questTimer">
        CREATE EVENT if not exists quest_reset_event
            ON SCHEDULE every 1 day
            STARTS '2023-05-01 02:00:00'
            COMMENT 'quest reset event at 2am'
        DO
            update tbl_appended_quest
            set appended_quest_progress = 0, appended_quest_cleared = 0
    </insert>

    <select id="selectQuest" resultType="questVO">
        select quest_name, quest_require, quest_reward, quest_type
        from tbl_quest_list where quest_name = #{questName}
    </select>

    <select id="getChance" resultType="int">
        select quest_reset_chance from tbl_quest_reset_chance
        where player_id = #{playerId}
    </select>

    <update id="updateChance">
        update tbl_quest_reset_chance
        set quest_reset_chance = #{questResetChance}
        where player_id = #{playerId}
    </update>

    <insert id="insertChance">
        insert into tbl_quest_reset_chance
        (player_id) values (#{playerId})
    </insert>
</mapper>